@import 'validated-input';
@import 'components/subject-picker';
@import 'components/layer-items';
@import 'components/landing-sponsors';
@import 'components/meetings-schedule';
@import 'components/contributor-list';
@import 'components/datetime-picker';
@import 'components/landing-paragraph';
@import 'components/file-grid.scss';
@import 'components/landing-title.scss';
@import 'components/footer';
@import "components/item-display";
@import 'submissions';
@import "components/section-menu";

@import 'osf-style';
@import "nav";
@import "forms";
@import "logo";
@import "cards";
@import "mixins";
@import "variables";
@import "hero";
@import "browse";


// /////////////////////////////////////////////////////////////////////////////
// frozen






body > .ember-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

@mixin fluid($width, $min-padding) {
    padding: $min-padding calc((100% - #{$width}) / 2);
    @media (max-width: ($width + (2 * $min-padding))) {
        padding: $min-padding;
    }
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    @include fluid(($section-width - $padding), $half-padding);

    & > * {
        margin: $half-padding;
    }

}


// /frozen
// /////////////////////////////////////////////////////////////////////////////

/* Global */

h2:hover >.headerlink {
	opacity: 1;
}





/* Global */

h2:hover > .headerlink {
	opacity: 1;
}


.info {
	@include floating;
	@include panel;
	background-color:#daf5ff;
	margin: 15px 15px;
	padding: 20px;
}


.case-number {
	font-weight: 600;
	color: #888;
}

h2 {
	padding: 15px 0 0 0;
	margin-top: 0;
}


.headerlink {
	opacity: 0;
	font-size: 14px;
}

.osf-gravatar > img {
	border: 1px solid #CDCDCD;
	border-radius: 50%;
	margin-right: 5px;
}

.anchor-link {
	text-decoration: inherit;

}


.form-section > .label {
	display: block;
	color: #555;
	font-size: 20px;
	font-weight: 300;
	padding: 6px 0 6px 0;
	text-align:left;
	text-transform: inherit;
}

.submit_button {
	display: block;
	margin: 0 auto;
}

.preprint-form-section {
	overflow: hidden;
}

.section-submit-button {
	margin-top: 10px;
	float: right;
	margin-left: 10px;
}

body {
	background-color: #f8f8f8;
}
.btn:focus {
	outline: none;
}
.modal.in {
	display: block;
}

ul.comma-list {
	display: inline;
	list-style: none;
	padding-left: 0;
	li {
		display: inline;
	}
	li:after {
		content: ", "
	}
	li:last-child:after {
		content: "";
	}
}

.coll-alert{
	padding: 20px;
	text-align: center;
	background-color: #FFEB3B;
}
.pointer {
	cursor: pointer;
}
.coll-radio {
	width: 24px;
	height: 24px;
	position: absolute;
	border: 2px solid #ccc;
	border-radius: 12px;
	margin-top: -2px;
}
.coll-active>.coll-radio {
	background-color:#ccc;
}

/* Home */

.coll-banner {
	background: $dark-banner;
	background-size: cover;
	height: 300px;
	color: #fff;
	padding-top: 50px;
}

.coll-add-layer {
	background-color: $light-grey-banner;
	border-bottom: 1px solid #ddd;
}


a.dropdown-toggle.nav-user-dropdown {
	padding-right: 0;
}

/* Collection Navbar */
.coll-navbar {
	background-color: $navbar-color;
	color: #fff;
	padding-left: 0;
	padding-right: 0;
}
.coll-navbar-inner {
	a {
		text-decoration: none;
		color: #fff;
	}
	.navbar {
		margin: 0;
	}
	.navbar-brand {
		padding-left: 0;
	}

	.navbar-toggle {
		margin-right: 0;

	}
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #1fa99c;
}
.navbar-nav > li > a {
	padding-bottom: 14px;
}

/* Collection Toolbar - it has filtering only now*/
.coll-toolbar {
	padding-top: 50px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

/* Collection Items */
.coll-item {
	height: 160px;
	overflow: auto;
	position: relative;
}
.coll-items, .coll-group {
	padding: 25px;
}

.coll-cards {
	display: flex;
}

.coll-item,
.coll-single {
	padding: 20px;
	box-shadow: 0 5px 5px -5px rgba(0,0,0,0.3);
	background: #ffffff;
	margin: 15px 15px;
	min-height:200px;
	display: flex;
	flex-direction: column;
	p {
		flex: 1 0 auto;
	}
	.btn {
		align-self: flex-end;
		float: right;
		margin: -5px auto auto 10px;
	}
	h3 {
		margin-top: 6px;
		padding-bottom: 5px;
	}

}
.coll-add-item {
	padding: 20px;
}

.coll-item-tag {
	padding: 3px 5px;
	border-radius: 2px;
	background: #f5f5f5;
}
.coll-item-type-preprint {
	background-color: #94e3ec;
}
.coll-item-type-project {
	background-color: #f3e888;
}
.coll-item-type-registration {
	background-color: #c3e49c;
}
.coll-item-type-file {
	background-color: #f3d785;
}
.coll-item-type-person {
	background-color: #8d98d8;
}
.coll-item-wrapper {
	position: relative;
}
.coll-item-organize {
	position: absolute;
	text-align: center;
	width: calc(100% - 30px);
	background-color: rgba(255, 255, 255, 0.44);
	height: 160px;
	padding-top: 40px;
	color: #9E9E9E;
	margin: 0 15px;
	z-index: 9;
	.fa {
		font-size: 30px;
	}
	&.item-selected {
		color: #8bc34a;
		background-color: rgba(255, 255, 255, 0.82);
	}
}

tr.item-row-selected {
	background-color: #e3f3f5;
}

.coll-item-isgroup {
	background-color: #eee;
	box-shadow:
	1px 1px 0 1px #ccc,
	2px 2px 0 1px #fff,
	3px 3px 0 1px #ccc,
	4px 4px 0 1px #fff,
	5px 5px 0 1px #ccc;
}
.btn-collection {
	background: none;
	border-radius: 15px;
	color: #999;
	min-width: 100px;
}
.coll-add-choice {
	padding: 15px 0 30px 0;
	.choice-group{
		.choice-item {
			border: 1px solid #ccc;
			padding: 10px;
			width: 113px;
			display: inline-block;
			text-align: center;
			margin-right: 5px;
			background-color: #eee;
			border-radius: 2px;
			cursor: pointer;
			z-index: 3;
			position: relative;
			border-bottom: none;
			border-radius: 2px;
			&.active{
				background: #fff;
				z-index: 9;
			}
		}
	}
	.add-panel {
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 3px;
		z-index: 4;
		position: relative;
		.add-select-method {
			text-align: center;
			line-height: 50px;
			background: #607D8B;
			color: #fff;
			font-size: 16px;
			cursor: pointer;
		}
	}

}

/* Search pages */
.search-result-panel {

}
.search-result{
	border: 1px solid #eee;
	background: #ffffff;
}

/* Item detail */
.coll-item-header {
	background-color: $dark-banner;
    /*background: url('/img/triangle.jpg') top center;
    background-size: cover;*/
    padding: 25px 0;
    color: #fff;

}
.coll-item-header ul>li>a {
	color: #6dd1de;
}
.coll-item-status {
	padding: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	&.pending {
		background-color: #FFC107;
	}
	&.approved {
		background-color: #8BC34A;
	}
}
.ball-pulse-dark>div {
	background-color: #607d8b;
}

/* Landing pages */

.landing-list-container {
	.btn-primary {
		font-size: 17px;
		width: 100%;
		margin: 5px;
	}
}
.landing-default-container {
	background-color: $dark-banner;
	color: #fff;
	min-height: 500px;
}



/* Create collection page */
.coll-create-header {
	background-color: $dark-banner;
	color: #fff;
}


/* Preprint forms -- copied over from ember-preprints repo*/
.preprint-form-section {
	header {
		@extend a;
		color: #337ab7;
		cursor: pointer;
		font: {
			size: 16px;
			font-weight: bold;
		}
		display: block;
		margin: 1rem 0;
		&:hover, &:focus {
			text-decoration: none;
		}
		&:after {
			content: "";
			display: block;
			width: 100%;
			clear: both;
		}
		&.cp-is-open {
			cursor: default;
			color: #333;
		}
		&.valid {
			.preprint-section-status .fa {
				color: #488132;
			}
		}
		&.invalid {
			.preprint-section-status .fa {
				color: #F44336;
			}
		}
		&.not-validated {
			.preprint-section-status .fa {
				color: gray;
			}
		}
		.fa {
			font-size: 20px;
		}
		.preprint-section-status .fa {
			transition: color 0.1s linear;
		}
	}
	.cp-Panel-body {
		opacity: 0;
		overflow: hidden;
		transition: {
			property: height, opacity;
			duration: 0.2s;
			timing-function: linear;
		}
		&.cp-is-open {
			opacity: 1;
		}
	}


	label > input, label > textarea {
		font-weight: normal;
	}
	textarea {
		resize: none;
	}
}


#preprint-form-basics {
	span.required:after {
		content: "(required)";
		color: lighten(red, 30%);
		font-weight: normal;
		float: right;
	}
}

.preprint-form-block {
	margin-top: 20px;
	background: #fff;
	padding:10px 20px 20px 20px;
	box-shadow: 0 0 3px #ddd;
	label {
		width: 100%;
	}
	.preprint-header-preview {
		color: #444;
		font-size: 15px;
		i {
			color: #888;
			display: block;
		}
		.abstract {
			white-space: pre-line;
		}
	}
}

/* End of Preprint forms */

/* Authors from preprints */
.vert-align-disabled-permissions {
	padding-top: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.vert-align-enabled-permissions {
	padding-top: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.drag-drop-contrib {
	padding-top: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: gray;
}

.permission-select {
	width: 110px;
	display: inline;
}
.vert-align {
	padding-top: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.vert-align-contributor-name {
	padding-top: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.bib-padding {
	text-align: center;
}

// Author table divisions
.author-table {
	td {
		border-top: 1px solid #ddd;
	}
}

.col-division-left {
	padding-left: 20px;
	border-left: 1px solid #ccc;
}

.col-division-right {
	border-right: 1px solid #ccc;
}

.author-search-box {
	padding-top: 20px;
}

.unregisteredUsers {
	text-align: center;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom:20px;
	background-color: #EEEEEE;
}

.unregistered-name {
	padding-bottom: 10px;
	padding-top: 10px;
}

.unregistered-email {
	padding-bottom: 20px;
	padding-top: 5px;
}

.unregistered-submit {
	padding-top: 10px;
}

.header-inline {
	display: inline;
}

.drag-drop {
	padding-top: 10px;
}

.author-header {
	padding-top: 15px;
}

tr.contributor-row:hover {
	background: #EEE;
}

span.sortable-bars:hover {
	cursor: move;
}

.sortable-item {
	transition: background-color 125ms;
	&.is-dragging {
		transition-duration: 0ms;
		background: white;
		z-index: 10;
	}
}

.icon-bar {
	background-color: #fff;
}

.contrib-column-header {
	padding-left: 12px;
}

.disabled-checkmark {
	padding-left: 18px;
	padding-right: 18px;
}

.nudge-right {
	text-align: left;
}

.icon-no-border {
	background:none;
	border:none;
	font-size:1em;
	padding:0px;
}

@keyframes greenHighlight {
	0% {
		background: #DFF0D8;
	}
	100% {
		background: white;
	}
}

@keyframes greenGrayHighlight {
	0% {
		background: #DFF0D8
	}
	100% {
		background: #F8F8F8;
	}
}

@keyframes redHighlight {
	0% {
		background: #F2DEDE;
	}
	100% {
		background: white;
	}
}

.successHighlightGreenGray {
	animation: greenGrayHighlight 2s;
}

.successHighlight {
	animation: greenHighlight 2s;
}

.errorHighlight {
	animation: redHighlight 2s;
}
@media (max-width: 768px) { // Contributors section, XS screen
	.current-authors {
		table, td, tr {
			display: block;
			width: 100% !important;
		}

		th {
			display: None;
		}

		td {
			border-top: none !important;
		}
		.author-cols {
			margin-top: 10px;
		}

		td:before {
			white-space: nowrap;
		}

		.bib-padding {
			text-align: left;
			padding-bottom: 10px;
			padding-right: 30px
		}

		.checkbox-padding {
			padding-right: 20px;
			padding-left: 20px;
		}

		.permission-label {
			padding-right: 10px;
			padding-left: 18px;
		}

		.vert-align-disabled-permissions {
			padding-top: 0px;
		}
		.vert-align-enabled-permissions {
			padding-top: 0px;
		}
		.drag-drop-contrib {
			padding-top: 0px;
		}
		.vert-align {
			padding-top: 0px;
		}
		.vert-align-contributor-name {
			padding-top: 0px;
		}
		.contributor-row {
			border-top: 1px solid #EEE !important;
			width: auto;
			padding-left: 10px;
		}
		.delete-contrib-button {
			padding-bottom: 10px;
		}
		.remove-contributor-xs {
			padding: 0;
			border: none;
			background: none;
			color: #D9534F;
		}
		.remove-contributor-padding-xs {
			padding-right: 10px;
		}
	}
}

.choice-list {

	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
		padding: 0;
		margin: 0;

		input {
			margin-right: 10px;
		}
	}
}

/* End of Authors */

.coll-single h3 {
	margin-top: 6px;
	padding-bottom: 5px;
}

.btn {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 10%, rgba(34, 34, 34, 0.05) 100%);
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.4);
}

.jsonBtn {
    max-width: 940px;
    margin-top: -17px;
    z-index: 1;
}

iframe {
    height: calc(100vh - 60px); 
}

.btn-space {
	margin-left:5px!important;
}


/* CSS for line clamping */
.line-clamp {
	display            : block;
	display            : -webkit-box;
	-webkit-box-orient : vertical;
	position           : relative;

	line-height        : 1.2;
	overflow           : hidden;
	text-overflow      : ellipsis;
	padding            : 0 !important;
}
.line-clamp:after {
	content    : '...';
	text-align : right;
	bottom     : 0;
	right      : 0;
	width      : 25%;
	display    : block;
	position   : absolute;
	height     : calc(1em * 1.2);
	background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
@supports (-webkit-line-clamp: 1) {
	.line-clamp:after {
		display : none !important;
	}
}
.line-clamp-1 {
	-webkit-line-clamp : 1;
	height             : calc(1em * 1.2 * 1);
}
.line-clamp-2 {
	-webkit-line-clamp : 2;
	height             : calc(1em * 1.2 * 2);
}
.line-clamp-3 {
	-webkit-line-clamp : 3;
	height             : calc(1em * 1.2 * 3);
}
.line-clamp-4 {
	-webkit-line-clamp : 4;
	height             : calc(1em * 1.2 * 4);
}
.line-clamp-5 {
	-webkit-line-clamp : 5;
	height             : calc(1em * 1.2 * 5);
}
/* End required CSS. */

.feature-6 #logo {
    transform: scale(1.3);
    overflow: hidden;
}
