.results {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .search {
    
        display: flex;
        width: 100%;
        padding: 30px;
        border-bottom: 1px solid rgba(0,0,0,0.04);
        background-color: #608193;
        justify-content: center;

        .searchbox {
            width: 850px;
            margin: 0;
            line-height: 2.0rem;
            padding: 4px 8px;

        }

        button {
            width: 60px;
            margin-left: 30px;
        }
    
    }

    .results-nav {
        display: flex;
        padding-top: 45px;
        width: 25%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background-color: #eee;
        box-shadow: none;
        border-bottom: none;
        background-image: none;

        a {
            color: #000;
            align-self: stretch;
            &:hover {
                cursor: pointer;
            }
        }

        input {
            background-color: #fff;
            color: #000;
            width: 100%;
            max-width: 100%;
            margin: 10px 0;
            flex: 0 0 auto;
        }

        h3 {
            margin: 3px 0;
            font-weight: 600;
            font-size: 1.6rem;
        }
    }

    .result-items {
        width:75%;
        display: flex;
        flex-direction: column;

        .result-item {
            padding: 15px;
            border-bottom: 1px solid rgba(0,0,0,0.04);
        }

    

    }

}
