.cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 0;
    padding: 0 15px;
}

.cards .card {
    display: block;
    flex: 0 0 auto;
    //background-color: #263947;
    //background-image: linear-gradient(to bottom,rgba(0,60,60,.0)60%,rgba(34,34,34,.06)100%);
    background-color: #fff;
    color: #333;
    margin: 15px 15px;
    font-size: 1.4rem;
    padding: 20px 20px;
    box-sizing: border-box;
    //padding-top: 90px;
    position: relative;
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    //border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1px;
}

@media (min-width: 820px) {

    .cards .card {
        width: calc(50% - 30px);
    }

}

@media (min-width: 1234px) {

    .cards .card {
        width: calc(33.3333% - 30px);
    }

}

@media (min-width: 1600px) {

    .cards .card {
        width: calc(25% - 30px);
    }

}


@media (max-width: 819px) { // Contributors section, XS screen

    .cards .card {
        width: calc(100% - 30px);
    }

}

.card-image {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    background-color: #fff;
    left: 0;
    background-size:100%;
    background-position: 50% 50%;
    box-shadow: 0 -6px 3px 5px rgba(0, 0, 0, 0.5);
}

.card label {
    font-weight: 300;
    color: #666;
    line-height: 1.0;
}

.card:hover label {
    color: #888;
    font-weight: 300;
}
