@import "mixins";

$color1: #f4f4f4;
$color2: #3197EE;

@mixin floating-panel {
	background: #ffffff;
	padding: 20px;
	box-shadow: 0 5px 5px -5px rgba(0,0,0,0.3);
	margin: 15px 15px;
}
.radio label {
    font-size: 1.2rem;
}

.radio {
  margin: 15px 0;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + label {

      padding: 0;
      &:before {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.0em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}


@mixin form-section {
    @include narrow-panel;
    padding: 20px;
}

h1.submission {
    margin-top: 0;
    margin-bottom: 15px;
    width: 100%;
    padding: 80px 30px 50px 30px;
    background: url('/img/submit.jpg') top center no-repeat;
    border-bottom: 1px solid #f0f0f0;
    background-size: cover;
    text-align: center;
}

section {

    .description {
        @include form-section;
        background-color: #daf5ff;
    }

    .instructions {
        @include form-section;
        background-color: #fff5da;

        span.emphasis {
            background-color: #ddd;
            color: #333;
        }

    }

    > fieldset {
        @include form-section;
        background-color: #fff;

        h2 {
            font-size: 1.8rem;
            color: #4c6492;
            font-weight: 400;
        }
    }
}

.submission-upload {
    position: relative;
    overflow: hidden;
    border: 1.5px dashed #ddd;
    border-radius: 3px;
    padding: 30px;
    background-color: #f5f5f5;
}

.submission-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.submission-upload .directions {
    position: relative;
    text-align: center;
    margin: 0 auto;
    color: #666;
}

.edit-workflow {
    overflow: hidden;
    button {
        float: right;
    }
}

.btn-inverse {
    color: #933;
    background-color: #fff;
    border-color: #933;
}

.btn-progress {
    float: right;
}

.collection-workflows {

    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;

    .button-add-workflow {
        float: right;
        align-self: flex-end;
    }

    .edit-workflow {
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.02);
        background-color: #fff;
    }

    

}
