@mixin floating {
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.3);
}

@mixin panel {
    background: #ffffff;
    margin: 15px 15px;
    padding: 20px;

}

@mixin narrow-panel {
    @include panel;
    @include floating;
    margin: 15px 30px;
    width: 900px;
    align-self: center;
    max-width: calc(100% - 60px) !important;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.05);
}

