
#osf-nav {
    position: absolute;
    top: 0px;
}
#osf-nav > .global-nav > a.service-link {
    font-size: 2.4rem !important;
    line-height: 1.0;
    margin-right: 0;

    &:hover {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
    }
    span.osf {
        display: inline-block;
        font-weight: 300;
        line-height: 1.0;
    }

    span.service-name {
        font-weight: 600;
    }
}

#osf-nav > .local-nav > a.hamburger {
    display: flex;
}


@media (max-width: 954px) {
    #osf-nav .service-link {
        display: none;
    }

}

@media (min-width: 841px) {
    #osf-nav > .local-nav > a.hamburger {
        display: none;
    }

    #osf-nav > .local-nav.dropdown > .dropdown-content {
        display: flex;
        background-color: rgba(0,0,0,0);
        border: 0;
        flex: 0 0 auto;
        box-shadow: none;
        position: relative;
        justify-content: flex-end;
        align-self: stretch;
        margin-left: 0;
        padding: 0;


        > a {
            padding: 4px 15px;
            font-size: 1.6rem;
            font-weight: 400;
            box-sizing: border-box;
            border: 1px solid rgba(0,0,0,0);
            margin: 0 -3px;
        }
        > * {
        }
        > a:hover {
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            background-color: rgba(0,0,0,0);
        }
        > a.active {
            text-decoration: none;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            cursor: default;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.05)
        }
        > a:visited {
            color: rgba(255, 255, 255, 1);
        }
    }

    #osf-nav > .local-nav.dropdown > .dropdown-content:before {
        content: none;
    }
}

.local-nav {
    flex: 0 0 auto;
}

nav .hamburger {
    width: 44px;
    align-self: center;
    display: flex;
    height: 32px;
    padding: 7px;
    border-radius: 6px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

nav .hamburger:hover {
        background-color: rgba(255, 255, 255, 0.1);
}
.hamburger .hamburger-bar {
    display: block;
    height: 2px;
    flex: 0 0 none;
    background-color: #fff;
}

@media (max-width: 700px) {}

@media (min-width: 701px) {

    .nav.navbar > .navbar-toggle {
        display: none;
    }

}

#collections-nav > .nav-item-group > a {
    margin: 0 12px;
}

#collections-nav > .nav-item-group > a:last-child {
    margin-right: 0;
}
#collections-nav > .nav-item-group > a:first-child {
    margin-left: 0;
}
#osf-nav > .local-nav > .dropdown-content > a:hover {
    color: #ccc;
}
nav {
    display: flex !important;
    z-index: 100;
    box-sizing: border-box;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 46px;
    top: 0;
    width: 100%;
    background-color: #263947;
    background-image: linear-gradient(to bottom,rgba(60,60,60,.5)0%,rgba(34,34,34,.5)100%);
    border-bottom: 1px solid rgba(8, 8, 8, 0.5);
    border-top: 1px solid rgba(250, 250, 250, 0.15);
    box-shadow: 0 0 5px 0 rgba(8, 8, 8, 0.8);
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    align-self: center;
}

nav a.home {
    font-weight: 600;
    font-size: 1.4rem;
}

nav {
    .local-nav {
        position: relative;
        flex: 0 0 auto;
    }
    .global-nav {
        position: relative;
        flex: 0 1 auto;
    }
}


nav.navbar .navbar-toggle {
    margin: 0;
    flex: 0 0 auto;
}

.service-link {
    padding: 0 10px;
    line-height: 1.0;
    font-size: 2.0rem;
    margin-right: 25px;
}

img + .caret {
    margin-left: 10px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-right: 8px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: #fff;
}

.local-nav {
    border: none;
    box-shadow: none;
    justify-content: flex-end;
    
}

.local-nav > a {
    position: relative;
}

.nav-item-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.nav-item-group > a {
    display: block;
    flex: 0 0 auto;
    line-height: 1.0;
}


.local-nav > a:active {
    background-color: #263947;
    background-image: linear-gradient(to top,rgba(60, 60, 60, 0.5) 0%, rgba(34, 34, 34, 0.5) 100%);
    border-radius: 15px;
    top: 1px;
}

.local-nav button > img {
    margin-right: 10px;
}


nav input[type="text"] {
    align-self: center;
    margin: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    background-color: rgba(63, 73, 81, 0.6);
    padding: 5px 12px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 300px;
    flex: 1 0 auto;
}

.local-nav > * {
    margin-left: 25px;
}

.global-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.dropdown {
    box-sizing: content-box;
    position: relative;
    display: flex;
    padding-bottom: 10px;
    align-self: stretch;
    align-items: center;
    margin-bottom: -10px;
}

.dropdown > button {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding: 0;
    font-family: 'Open Sans';
    line-height: 1.0;
    font-size: 1.6rem;
    align-self: stretch;
}

.dropdown > .dropdown-content {
    position: absolute;
    padding: 5px 0px;
    font-size: 1.1rem;
    border-radius: 3px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    min-width: 100%;
    display: none;
}

#osf-nav .dropdown > .dropdown-content {
    background-color: #2E6A74;
    right: -8px;
}


#osf-nav .dropdown > .dropdown-content:before {
    position: absolute;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #2E6A74;
    border-left: 9px solid transparent;
    content: '';
    top: -8px;
    right: 6px;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown > .dropdown-content > a {
    white-space: nowrap;
    display: block;
    padding: 5px 25px;
    font-size: 1.2rem;
}

.dropdown > .dropdown-content > a > i {
    width: 25px;
    text-align: center;
}

.dropdown > .dropdown-content > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



.global-nav > .dropdown > .dropdown-content {
    top: 100%;
    right: 0;

    a {
        font-size: 1.6rem;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.local-nav > .dropdown-content > .dropdown > .dropdown-content {
    top: 100%;
    right: 0;
}

.user-gravatar {
    height: 25px;
    width: 25px;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: #fff;
}


.navbar-header > a,
.navbar-header > .dropdown {
    flex: 0 0 auto;
}



.donate-banner {
    position: absolute;
    height: 60px;
    top: 0;
    padding: 0 30px;
    width: 100%;
    background-size: cover;
    background-position: 50% 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/img/bg-web.png");
    background-color: #197492;
    background-blend-mode: color-dodge;
    //background-image: url("/img/swirl.png");
    //background-color: #cbba63a1;
    //background-blend-mode: screen;
    background-position: 50% 63%;
    z-index: 150;
    .platter {
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 1;
        padding: 5px 10px;
        border: 1px solid #fff;
        font-size: 1.6rem;
        box-shadow: none;
    }
}

.donate-banner button {
}

body {
    margin-top: 46px;
}

.breadcrumbs {

    line-height: 1.0;

    :first-child {
        font-weight: 600;
    }
    :after {
        content:"/";
        padding-left: 25px;
        font-weight: 600;
    }
    :last-child:after {
        content: "";
        padding: 0;
    }

}

