<div id="{{get-section-id layout.title}}" class="landing-paragraph-container">
    <div class="container">
        <div class="row">
            {{#if layout.title}}
                <h2>
                    {{layout.title}}
                </h2>
            {{/if}}
            <p class="text-left">{{layout.body}}</p>
        </div>
    </div>
</div>
