@import '../mixins';
@import '../variables';

.file-grid-container {

  .item-thumbnail {
    width: 100%;
    height: auto;
  }

  .clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 36px;
    font-size: 12px;
  }
  .panel {
    @include floating;
  }
  .item-panel a {
    color: inherit;
  }
  .item-panel p {
    margin-bottom: 0;
    small {
      color: #666;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}


.layer-file-grid {
    flex-direction: row;
    align-items: stretch;
    h2 {
        text-align: center;
        width: 100%;
        margin: 30px auto;
    }


    .item-detail {
        @include panel;
        @include floating;
        padding: 0;
        width: calc(100% - 30px);
        @media (min-width: 450px) {
            width: calc(50% - 30px);
        }
        @media (min-width: 600px) {
            width: calc(33.333333% - 30px);
        }
        @media (min-width: 900px) {
            width: calc(25% - 30px);
        }

        margin: $half-padding;

        > a {
            display: block;
            background-size: cover;
            background-position: 50% 50%;
            height: 150px;
        }
    }

    .items-pagination {
        width: 100%;
        display: flex;
        .pagination-centered {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }
}

