@import '../mixins';
@import '../variables';

.file-grid-container {

  .item-thumbnail{
    text-align: center;
    padding-top: 95px;
    font-size: 21px;
    font-weight: bold;
    color: #6f6f6f;
  }
  .panel {
    @include floating;
  }
  .item-panel a {
    color: inherit;
  }
  .item-panel p {
    margin-bottom: 0;
    small {
      color: #666;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}


.section-file-grid {
    flex-direction: row;
    align-items: stretch;
    h2 {
        text-align: center;
        width: 100%;
        margin: 30px auto;
    }


    .item-detail {
        @include panel;
        @include floating;
        padding: 0;
        width: calc(100% - 30px);
        @media (min-width: 400px) {
            width: calc(50% - 30px);
        }
        @media (min-width: 600px) {
            width: calc(33.333333% - 30px);
        }
        @media (min-width: 900px) {
            width: calc(25% - 30px);
        }

        margin: $half-padding;

        > a {
            display: block;
            background-size: cover;
            background-position: 50% 50%;
            height: 180px;
        }

      a {
        color: inherit;
      }

      p {
        margin-bottom: 0;
        small {
          color: #666;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }


    }

    .items-pagination {
        width: 100%;
        display: flex;
        .pagination-centered {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }
}


 .item-thumbnail{
    text-align: center;
    padding-top: 115px;
    font-size: 21px;
    font-weight: bold;
    color: #6f6f6f;
    cursor:pointer;
    text-transform: uppercase;
  }

.item-thumbnail:hover{
  text-decoration: none;
  color:#6f6f6f;
}
