.landing-title {
    padding-top: 60px;
    padding-bottom: 40px;
    h1 {
        text-align: center;
        margin: 30px auto 30px auto;
        position: relative;
        float: left;
    }
    p {
        text-align: center;
    }
    .title-logo {
        float: left;
        width: auto;
        height: 100px;
        margin-right: 5px;
    }
    .title-wrapper {
        width: auto;
        margin: 0 auto 0 auto;
    }
}

