@import "../variables";

.landing-paragraph-container {
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;

    > * {
        max-width: $narrow-width;
    }

    > p {
        font-size:1.6rem;
    }
}
