<div class="nav-item-group">
    {{! {{bread-crumbs}}
</div>
<div class="nav-item-group secondary-nav">
    {{#each nav.links as |link|}}
        <a class="nav-item" {{action "transition" link}}>{{link.label}}</a>
    {{/each}}
</div>
