<style>
    .search-wrapper {
        background-color: white;
        padding: 30px;
    }
</style>
<div class="search-wrapper">
    <div class="text-center">{{input value=searchText}}
        <div {{action 'search'}} class="btn btn-sm btn-primary">Search</div>
    </div>
    <div id="search-results">
        {{#unless results}}
            <p>No results yet</p>
        {{/unless}}
        {{#if results}}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each results.data as |r|}}
                    <tr>
                        <td>{{#link-to "collection.index"
                                       r.id}}{{r.attributes.title}}{{/link-to}}</td>
                        <td>{{r.attributes.description}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</div>