<style>
    .search-wrapper {
        background-color: white;
        padding: 30px;
    }
</style>
<div class="search-wrapper">
    <form class="form-inline text-center">
        <div class="form-group">
            <div class="input-group">
                {{input class="form-control" placeholder="Ex: \"Lorem\"" value=searchText}}
            </div>
            <div {{action 'search'}} class="btn btn-primary">Search Collections</div>
        </div>
    </form>
    <div id="search-results">
        {{#if results}}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each results.data as |r|}}
                    <tr>
                        <td>{{#link-to "collection.index"
                                       r.id}}{{r.attributes.title}}{{/link-to}}</td>
                        <td>{{r.attributes.description}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</div>