<div class="form-type">{{item.title}}</div>

<div class="continue-button">
    {{#link-to 'collections.collection.item' collection.id item.id class="btn btn-success pull-right"}}Continue{{/link-to}}
</div>
