<div class="case-no">{{case.id}}</div>
<div class="form-type">{{case.workflow.title}}
{{partial (await caseDescriptionTemplate)}}
</div>
<div class="continue-button">
    <a class="btn btn-success pull-right" {{action "continueCase" case collection}}>Continue</a>
</div>
