<section class="coll-banner text-center">
    <h1 class="f-w-lg"> Browse Collections </h1>
    <p class="lead f-w-md">Organize your research interests in a way that makes sense</p>
    {{#if session.isAuthenticated}}
        {{#link-to 'create' class="btn btn-success btn-lg m-t-lg"}}Start a collection {{/link-to}}
    {{/if}}
</section>

<div class="results">
    <nav class="results-nav">
        <a>Kind</a>
        <a>Creator</a>
        <a>Date Created</a>
    </nav>

    <div class="result-items">

        {{#each collections as |collection|}}
            <div class="result-item">

                <h2>{{collection.title}}</h2>
                <div class="description">{{collection.description}}</div>

            </div>
        {{/each}}

    </div>


</div>
