{{new-osf-navbar loginAction=(action 'login')}}
<div class="loading">
	<i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
</div>
{{#if (not true)}}
    {{!--
        SEARCH DROPDOWN (FOR HOME SERVICE) - redirects to /search/?q=search_query
    --}}
    {{search-dropdown action='toggleSearch'}}
{{/if}}

{{outlet}}

{{osf-footer}}
